.brand {
  height: 35px;
}

.delete-button {
  width: 150px;
  height: 50px;
}

@media (max-width: 320px) {
  .delete-button {
    width: 120px;
    height: 50px;
  }

}

/* TODO: remove pre-release, these are just to get rh font working on localhost */
:root {
  --pf-global--FontFamily--sans-serif:  "Red Hat Text", Overpass, overpass, helvetica, arial, sans-serif;
}
.pf-c-content {
  --pf-c-content--heading--FontFamily: "Red Hat Text", Overpass, overpass, helvetica, arial, sans-serif;
}
/* End TODO */

/* Device Activity screen */
#device-activity-sessions dl {
  --pf-c-description-list--GridTemplateColumns--count: 5;
  --pf-c-description-list--GridTemplateColumns--width: 250px;
  /* --pf-c-description-list--GridTemplateColumns--width: minmax(1fr, 250px); */
}

#device-details.pf-c-content {
  --pf-c-content--FontSize: var(--pf-global--FontSize--lg);
} 