.brand {
  height: 35px;
}

.delete-button {
  width: 150px;
  height: 50px;
}

@media (max-width: 320px) {
  .delete-button {
    width: 120px;
    height: 50px;
  }

}

.pf-c-page{
  --pf-c-page__main-section--BackgroundColor: white;
}


/* TODO: remove pre-release, these are just to get rh font working on localhost */
:root {
  --pf-global--FontFamily--sans-serif:  "Red Hat Text", Overpass, overpass, helvetica, arial, sans-serif;
}
.pf-c-content {
  --pf-c-content--heading--FontFamily: "Red Hat Text", Overpass, overpass, helvetica, arial, sans-serif;
}
/* End TODO */
