.brand {
  height: 35px;
}

.delete-button {
  width: 150px;
  height: 50px;
}

@media (max-width: 320px) {
  .delete-button {
    width: 120px;
    height: 50px;
  }

}

/* TODO: remove pre-release, these are just to get rh font working on localhost */
:root {
  --pf-global--FontFamily--sans-serif:  "Red Hat Text", Overpass, overpass, helvetica, arial, sans-serif;
}
.pf-c-content {
  --pf-c-content--heading--FontFamily: "Red Hat Text", Overpass, overpass, helvetica, arial, sans-serif;
}
/* End TODO */

/* Device Activity screen */
@media (min-width: 576px) {
  #device-activity-sessions dl {
    --pf-c-description-list--GridTemplateColumns--count: 3;
  }
}

@media (min-width: 768px) {
  #device-activity-sessions dl {
    --pf-c-description-list--GridTemplateColumns--count: 4;
  }
}

@media (min-width: 1200px) {
  #device-activity-sessions dl {
    --pf-c-description-list--GridTemplateColumns--count: 5;
  }
}

#device-details.pf-c-content {
  --pf-c-content--FontSize: var(--pf-global--FontSize--lg);
} 